<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/semantic/semantic.min.css' />
      <script src="/jquery.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
              crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
      <script src="/floatingNav.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
