<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/sematic/semantic.min.css' />
    <link rel='stylesheet' href='/mdui/css/mdui.min.css' />
    <link rel='stylesheet' href='/nv.d3.min.css' />
    <link rel="stylesheet" href="http://mdui-org.b0.upaiyun.com/docs/assets/css/docs.css">
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
              crossorigin="anonymous"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
      <!-- Latest compiled and minified JavaScript -->
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
    <script src="/mdui/js/mdui.min.js"></script>
    <script src="/nv.d3.min.js"></script>
    <script src="/app.js"></script>
    <script src="/service/const.service.js"></script>
    <script src="/controller/futuresCtrl.js"></script>

  </head>
  <body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-blue mdui-theme-accent-blue" ng-app="myApp" ng-controller="futuresCtrl">

  <!--应用栏-->
  <header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
      <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer'}"><i class="mdui-icon material-icons">&#xe5d2;</i></span>
      <a href="/home" class="mdui-typo-headline mdui-hidden-xs">期货小屋</a>
      <a href="/home" class="mdui-typo-title">内存数据库课设</a>
      <div class="mdui-toolbar-spacer"></div>
      <span ng-if="isLogin" class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-menu="{target: '#header-menu', fixed: true}"><i class="mdui-icon material-icons">&#xe5d4;</i></span>
      <ul class="mdui-menu" id="header-menu">
        <li class="mdui-menu-item">
          <a ng-click="logout()" class="mdui-ripple">登出</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="transition hidden" id="state"><%=state%></div>
  <div class="mdui-drawer mdui-drawer-open" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}">
      <div class="mdui-collapse-item mdui-collapse-item-open">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">&#xe838;</i>
          <div class="mdui-list-item-content">大厅</div>
          <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe313;</i>
        </div>
        <div class="mdui-collapse-item-body mdui-list" ng-repeat="future in futures" style="max-height: 600px; overflow-y: scroll">
          <a id={{$index}} href="#" ng-click="switch(future, $index)" class="mdui-list-item mdui-ripple">{{future.name}}</a>
        </div>
      </div>
      <div class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-orange">&#xe8d1;</i>
        <div class="mdui-list-item-content"><a href="/mycenter">个人中心</a></div>
      </div>
    </div>
  </div>

  <div class="ui grid vertical container">
    <div class="ui row">
      <br/>
      <h1 class="ui header">{{future.name}}</h1>
    </div>
    <div class="ui row">
      <div class="ui ten wide column raised segment" id="chart1-container" style="max-height: 600px;">
        <div id="chart1" style="width:100%; height:400px;"></div>
      </div>
      <div class="ui six wide column">
        <!--期货详情-->
        <div class="ui cards">
          <div class="card" style="min-width: 350px">
          <div class="content">
            <h2 class="header">{{future.name}} </h2>
            <br/>
            <div class="mdui-typo-display-2 mdui-text-color-red" ng-if="current.flag">
              <P class="price">￥ {{current.price}}</P>
              <i class="mdui-icon material-icons">&#xe5d8;</i>
            </div>
            <div class="mdui-typo-display-2 mdui-text-color-green" ng-if="!current.flag">
              <p class="price">￥ {{current.price}}</p>
              <i class="mdui-icon material-icons">&#xe5db;</i>
            </div>
            <br/>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic green button" ng-click="buyFutures()">买入</div>
              <div class="ui basic red button" ng-click="sellFutures()">卖出</div>
            </div>
          </div>
        </div>
        </div>
        <!--期货每秒价位-->
        <br>
        <br>
        <br>
        <br>

      </div>
    </div>
    <div class="ui row">
      <div class="ui sixteen wide column">
      <div id="chart2-container" >
        <h2 class="ui header">今日动态</h2>
        <div id="chart3" style="width:100%; height:400px;">
          <!--<svg style="overflow-x: scroll"></svg>-->
        </div>
      </div>
      </div>
    </div>
    <h2 class="ui header">今日价位表</h2>
    <div class="ui row">
      <div class="ui raised fluid segment fourteen wide column" style="max-height: 400px; overflow-y: scroll">
        <table class="ui very basic celled table">
          <thead>
          <tr><th>时间</th>
            <th>价格</th>
          </tr></thead>
          <tbody>
          <tr ng-repeat="price in prices">
            <td>
              {{$index}}
            </td>
            <td>
              {{price.price}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    </div>
    <!--价位表-->

    <!--底栏-->

  </div>



  <!--弹框-->
  <%include index-modal.ejs%>

  <script>
    function test() {
        $('.ui.labeled.icon.sidebar')
            .sidebar('toggle')
        ;
    };


  </script>
  </body>
</html>
