<!DOCTYPE html>
<html>
<head>
    <title>我的个人中心</title>
    <link rel='stylesheet' href='/sematic/semantic.min.css' />
    <link rel='stylesheet' href='/mdui/css/mdui.min.css' />
    <link rel='stylesheet' href='/nv.d3.min.css' />
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
            crossorigin="anonymous"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
    <script src="/mdui/js/mdui.min.js"></script>
    <script src="/nv.d3.min.js"></script>
    <script src="/app.js"></script>
    <script src="/service/const.service.js"></script>
    <script src="/controller/mycenterCtrl.js"></script>

</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-blue mdui-theme-accent-blue" ng-app="myApp" ng-controller="mycenterCtrl">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer'}"><i class="mdui-icon material-icons">&#xe5d2;</i></span>
        <a href="/" class="mdui-typo-headline mdui-hidden-xs">期货小屋</a>
        <a href="/" class="mdui-typo-title">内存数据库课设</a>
        <div class="mdui-toolbar-spacer"></div>
        <span ng-if="isLogin" class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-menu="{target: '#header-menu', fixed: true}"><i class="mdui-icon material-icons">&#xe5d4;</i></span>
        <ul class="mdui-menu" id="header-menu">
            <li class="mdui-menu-item">
                <a ng-click="logout()" class="mdui-ripple">登出</a>
            </li>
        </ul>
    </div>
</header>
<div class="transition hidden" id="state"><%=state%></div>
<div class="mdui-drawer mdui-drawer-open" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}">
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">&#xe838;</i>
                <div class="mdui-list-item-content"><a href="/">大厅</a></div>
            </div>
        </div>
        <div class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-orange">&#xe8d1;</i>
            <div class="mdui-list-item-content">个人中心</div>
        </div>
    </div>
</div>

<div class="ui grid vertical container" style="padding: 20px">
    <%include mycenter-modal.ejs%>
    <div class="ui row" ng-if="isLogin">
        <div class="ui seven wide column transition hidden" id="block0">
            <div class="ui card" style="min-width: 350px; min-height: 200px">
                <div class="content">
                    <div class="header">{{user.name}}</div>
                    <br/>
                    <div class="meta">
                        <span class="category">{{user.count_id}}</span>
                    </div>
                    <div class="description">
                        <p>性别:<i class="ui male icon" ng-if="user.sex"></i><i class="ui female icon" ng-if="!user.sex"></i></p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="left floated text">Tel:{{user.tel}}</div>
                </div>
            </div>

        </div>
        <div class="ui seven wide column transition hidden" id="block1">
            <div class="ui cards">
                <div class="card" style="min-width: 400px;min-height: 200px">
                    <div class="content">
                        <h2 class="header">账户余额 </h2>
                        <br/>
                        <div class="mdui-typo-display-2 mdui-text-color-red" align="center">
                            {{user.left_money}} ￥
                        </div>
                        <br/>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <div class="ui basic green button" ng-click="putIn()">充值</div>
                            <div class="ui basic red button" ng-click="putOut()">转出</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui row" ng-if="isLogin">
        <div class="ui fourteen wide column">
            <div class="ui piled segment transition hidden" id="block2">
                <h1 class="ui header" align="center">
                    昨日收益
                </h1>
                <h2 class="mdui-text-color-red" align="center">
                    {{user.bonus}} ￥
                </h2>
                <hr/>
                <div class="ui orange button fluid">期货总资产：{{user.amount}} ￥</div>
            </div>
        </div>
    </div>

    <div class="ui row transition hidden" ng-if="isLogin" id="block3">
        <div class="ui fourteen wide column">
            <h2 class="ui header">我的期货</h2>
            <div class="mdui-panel" mdui-panel>
                <div class="mdui-panel-item" ng-click="showData(future, $index)" ng-repeat="future in user.my_future">
                    <div class="mdui-panel-item-header">
                        <div class="mdui-panel-item-title">{{future.future_name}}</div>
                        <div class="mdui-panel-item-summary">
                            持有：<span class="mdui-text-color-red">{{future.have}} 份额</span>
                        </div>

                        <i class="mdui-panel-item-arrow mdui-icon material-icons">&#xe313;</i>
                    </div>
                    <div class="mdui-panel-item-body">
                        <div id="chart-{{$index}}"></div>
                        <div class="mdui-panel-item-actions">
                            <button class="ui green basic button" ng-click="buyFuture(future)">买入</button>
                            <button class="ui red basic button" ng-click="sellFuture(future)">卖出</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
